body {
    margin: auto;
    max-width: 45em;
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: #454559;
}

.header {
    background: CadetBlue;
    color: MintCream;
    font-weight: bold;
    padding: 2em 1em;
    font-size: 2em;
    text-align: center;
}

.content {
    background: LightSalmon;
    padding: 2em 3em;
}

form input[type=text], input[type=password] {
    width: 20em;
    padding: 5px;
    margin-bottom: 15px;
    outline: none;
}

form input[type=number] {
    width: 5em;
    padding: 5px;
    outline: none;
}

form input:focus {
    border: 2px solid #212121;
    border-radius: 2px;
}

form label{
    margin-bottom: 10px;
}

form #button {
    width: 6em;
    margin-top: 10px;
    margin-left: 7em;
    margin-bottom: 15px;
    padding: 5px;
}

a:link {
    font-weight: bold;
    color: #454559;
}

a:visited {
    font-weight: bold;
    color: #454559;
}

a:hover {
    color: #212121;
}

.logout {
    text-align: right;
}
