body {
    margin: auto;
    max-width: 45em;
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: #454559;
}

.header {
    background: CadetBlue;
    color: MintCream;
    font-weight: bold;
    padding: 2em 1em;
    font-size: 2em;
    text-align: center;
}

.content {
    background: LightSalmon;
    padding: 2em 3em;
    overflow-wrap: break-word;
}

form {
    background: #F1CDC0;
    padding: 15px;
}

form input[type=text], input[type=password] {
    width: 70%;
    padding: 5px;
    margin-bottom: 15px;
    margin-right: 15px;
    outline: none;
}

form input[type=number] {
    width: 5em;
    padding: 5px;
    outline: none;
}

form input:focus {
    border: 2px solid #212121;
    border-radius: 2px;
}

form label {
    margin-bottom: 10px;
}

form textarea {
    width: 95%;
    padding: 5px;
    margin-top: 8px;
    margin-bottom: 15px;
}

form #button {
    width: 6em;    
    padding: 5px;
}

form #button2 {
    width: 6em;
    margin-top: 10px;
    margin-left: 1em;
    padding: 5px;
}

form #button3 {
    width: 4em;
    padding: 5px;
}

a.class1:link, a.class1:visited {
    font-weight: bold;
    color: #454559;
    margin-bottom: 20px;
    margin-right: 80px;
}

a.class2:link, a.class2:visited {
    font-weight: bold;
    color: #454559;
    margin-bottom: 20px;
}

a:hover {
    color: #212121;
}

.logout {
    text-align: right;
}

ul {
    background: #F1CDC0;
    padding: 15px;
}

ul li {
    margin: 12px;
}
