{% extends "layout.html" %}
{% block title %}Administration{% endblock %}
{% block content %}
<p class="logout"><a href="/logout" class="class2">Log out</a></p>
<hr>
{% if session.user_role == "admin" %}
<h2>App statistics</h2>
<p><b>{{ message }}</b></p>
<form action="/delete/user" method="POST">
  <h3>Users</h3>
  <h4>Total amount of users: {{ user_count }}</h4>
  <p>
    <b>Delete user</b><br>
    Warning: The user and all their messages will be deleted permanently.
  </p>
  <label for="username">Username:</label><br>
  <input type="text" name="username">
  <input id=button type="submit" value="Delete">
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
<hr>

<ul>
  <h3>Quizzes</h3>
  <p>{{ quizzes[0] }}</p>
  {% for quiz in quizzes[1:] %}
  <li>{{ quiz }}
  {% endfor %}
</ul>
<form action="/delete/quiz" method="POST">
  <p><b>Delete quiz</b><br></p>
  <label for="quiz_id">Quiz identification number:</label><br>
  <input type="number" name="quiz_id">
  <input id=button2 type="submit" value="Delete">
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
<hr>

<ul>
  <h3>Deleted quizzes</h3>
  {% for quiz in deleted %}
  <li>{{ quiz }}
  {% endfor %}
</ul>
<form action="/restore" method="POST">
  <p><b>Restore quiz</b></p>
  <label for="quiz_id">Quiz identification number:</label><br>
  <input type="number" name="quiz_id">
  <input id=button2 type="submit" value="Restore">
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
<hr>

<p><a href="/home" class="class2">Back</a></p>
{% endif %}
{% endblock %}
