{% extends "layout.html" %}
{% block title %}Administration{% endblock %}
{% block content %}
{% if session.user_role == "admin" %}
<h2>App statistics</h2>
<h3>Users</h3>
<p>Total amount of users: {{ user_count }}</p>
<hr>

<h3>Quizzes</h3>
<p>{{ quizzes[0] }}</p>
<ul>
  {% for quiz in quizzes[1:] %}
  <li>{{ quiz }}
  {% endfor %}
</ul>
<p><b>Delete quiz</b></p>
<form action="delete/quiz" method="POST">
  Quiz identification number:
  <br>
  <input type="number" name="quiz_id">
  <br>
  <input type="submit" value="Delete">
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
<hr>

<p><a href="/home">Back</a></p>
{% endif %}
{% endblock %}
