{% extends "layout.html" %}
{% block title %}Questions{% endblock %}
{% block content %}
<p class="logout"><a href="/logout" class="class2">Log out</a></p>
<hr>
<h2>Question Forum</h2>
{% if session.user_id %}
<form action="/chat" method="post">
  Send a question to your buddies:
  <br>
  <textarea name="content" rows="4" cols="40" maxlength="1000">{{ prefill }}</textarea><br>
  <input id=button3 type="submit" value="Send">
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
<p>{{ error_message }}</p>
{% endif %}
<hr>

{% for question in questions %}
<p>
  <b>{{ question[2] }}</b>
  <br>
  Sent at: {{ question[3].strftime("%d/%m/%Y %H:%M:%S") }}
  <br>
  {{ question[4] }}
</p>
<a href="/question/{{ question[0] }}" class="class1">Reply / Show answers</a>
{% if session.user_id == question[1] or session.user_role == "admin" %}
<a href="/delete/{{ question[0] }}" class="class2">Delete question</a>  
{% endif %}
<hr>
{% endfor %}

<a href="/home" class="class2">Back</a>
{% endblock %}
