{% extends "layout.html" %}
{% block title %}Create{% endblock %}
{% block content %}
<p>
  <nav>
    <li><a href="/home">Homepage</a></li>
    <li>|</li>
    <li><a href="/chat">Question Forum</a></li>
    <li>|</li>
    <li><a href="/statistics">My Profile</a></li>
    <li style="float:right; border: 2px solid #454559;"><a href="/logout">Log out</a></li>
  </nav>
</p>
<hr>
<h2>Create a new quiz</h2>
<p><b>{{ error }}</b></p>
<form action="/create" method="post">
  Name:<br>
  <input type="text" name="name" minlength="1" maxlength="30" value={{ prename }}><br>
  Description:<br>
  <textarea name="description" rows="3" cols="40" maxlength="500">{{ predescription }}</textarea><br>
  Exercises:<br>
  <textarea name="exercises" rows="5" cols="40" maxlength="10000">{{ pre_exercises }}</textarea><br>
  <input id=button3 type="submit" value="Save">
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
{% endblock %}

