{% extends "layout.html" %}
{% block title %}Create{% endblock %}
{% block content %}
<p class="logout"><a href="/logout" class="class2">Log out</a></p>
<hr>
<h2>Create a new quiz</h2>
<p><b>{{ error }}</b></p>
<form action="/create" method="post">
Name:
<br>
<input type="text" name="name" minlength="1" maxlength="30" value={{ prename }}>
<br>
Description:
<br>
<textarea name="description" rows="3" cols="40" maxlength="500">{{ predescription }}</textarea>
<br>
Exercises:
<br>
<textarea name="exercises" rows="5" cols="40" maxlength="10000">{{ pre_exercises }}</textarea>
<br>
<input id=button3 type="submit" value="Save">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
<hr>
<a href="/home" class="class2">Back</a>
{% endblock %}

