{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<p class="logout"><a href="/logout" class="class2">Log out</a></p>
<hr>
<h2>Hey, buddy, choose your next activity!</h2>
<p>
  <ul>
    <b>Rehearse your skills:</b>
    {% for quiz in quizzes %}
    <li><a href="/play/{{ quiz.id }}" class="class2">{{ quiz.name }}</a>
    {% endfor %}
  </ul>
  <a href="/chat" class="class1">Question Forum</a>
  <a href="/statistics" class="class2">Check your progress</a>
</p>
{% if session.user_role == "admin" %}
<hr>
<h3>Administration</h3>
<p>
  <ul>
    <li><a href="/create" class="class2">Create a new quiz</a>
    <li><a href="/admin" class="class2">Check app statistics</a>
  </ul>
</p>
{% endif %}
{% endblock %}
