{% extends "layout.html" %}
{% block title %}Welcome{% endblock %}
{% block content %}
<h2>Hello, buddy!</h2>
<p>
  Log in to sharpen your skills:
  <br>
  <b>{{ error }}</b>
  <br>
</p>
<form action="/" method="POST">
  <label for="username">Username:</label><br>
  <input type="text" name="username" value={{ prefill }}><br>
  <label for="password">Password:</label><br>
  <input type="password" name="password"><br>
  <input id=button type="submit" value="Log in">
</form>
<p>To create a new account, click <a href="/register">here</a>.</p>
{% endblock %}
