{% extends "layout.html" %}
{% block title %}Play{% endblock %}
{% block content %}
<p>
  <nav>
    <li><a href="/home">Homepage</a></li>
    <li>|</li>
    <li><a href="/chat">Question Forum</a></li>
    <li>|</li>
    <li><a href="/statistics">My Profile</a></li>
    <li style="float:right; border: 2px solid #454559;"><a href="/logout">Log out</a></li>
  </nav>
</p>
<hr>
<h2>{{ quiz_name }}</h2>
<p>{{ quiz_description }}</p>
<hr>
{% if session.user_id %}
<form action="/play/{{ quiz_id }}" method="POST">
  <p><b>{{ task }}</b></p>
  <input type="text" name="answer">
  <input type="hidden" name="exercise_id" value="{{ exercise_id }}">
  <input id=button type="submit" value="Check"><br>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
  <p><b>{{ feedback }}</b></p>
</form>
{% else %}
<p><a href="/" class="class2">Log in</a> to play</p>
{% endif %}
{% endblock %}
