{% extends "layout.html" %}
{% block title %}Play{% endblock %}
{% block content %}
<p class="logout"><a href="/logout">Log out</a></p>
<hr>
<h2>{{ quiz_name }}</h2>
<p>{{ quiz_description }}</p>
<hr>
{% if session.user_id %}
<p>{{ task }}</p>
<form action="/check" method="POST">
  <input type="text" name="answer">
  <input type="hidden" name="quiz_id" value="{{ quiz_id }}">
  <input type="hidden" name="exercise_id" value="{{ exercise_id }}">
  <input id=button type="submit" value="Check">
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
<p><a href="/home">End Quiz</a></p>
{% else %}
<p><a href="/">Log in</a> to play</p>
{% endif %}
{% endblock %}
