{% extends "layout.html" %}
{% block title %}Play{% endblock %}
{% block content %}
<p class="logout"><a href="/logout" class="class2">Log out</a></p>
<hr>
<h2>{{ quiz_name }}</h2>
<p>{{ quiz_description }}</p>
<hr>
{% if session.user_id %}
<form action="/play/{{ quiz_id }}" method="POST">
  <p><b>{{ task }}</b></p>
  <input type="text" name="answer">
  <input type="hidden" name="exercise_id" value="{{ exercise_id }}">
  <input id=button type="submit" value="Check">
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
<p><b>{{ feedback }}</b><br></p>
<hr>
<a href="/home" class="class2">End Quiz</a>
{% else %}
<p><a href="/" class="class2">Log in</a> to play</p>
{% endif %}
{% endblock %}
