{% extends "layout.html" %}
{% block title %}Question{% endblock %}
{% block content %}
<p>
  <nav>
    <li><a href="/home">Homepage</a></li>
    <li>|</li>
    <li><a href="/chat">Question Forum</a></li>
    <li>|</li>
    <li><a href="/statistics">My Profile</a></li>
    <li style="float:right; border: 2px solid #454559;"><a href="/logout">Log out</a></li>
  </nav>
</p>
<hr>
<h2>Question</h2>
<p>
  <b>{{ question[1] }}</b>
  <br>
  Sent at: {{ question[2].strftime("%d/%m/%Y %H:%M:%S") }}
  <br>
  {{ question[3] }}
</p>
<hr>

<h3>Your answer</h3>
{% if session.user_id %} 
<form action="/question/{{ question[0] }}" method="post">
  Write your answer:
  <br>
  <textarea name="content" rows="4" cols="40" maxlength="1000">{{ prefill }}</textarea><br>
  <input id=button3 type="submit" value="Send">
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
<p>{{ error_message }}</p>
{% else %}
<a href="/" class="class2">Log in</a>
{% endif %}
<hr>

{% if answers != [] %}
<h3>Previous answers</h3>
{% for answer in answers %}
<p>
  <b>{{ answer[2] }}</b>
  <br>
  Sent at: {{ answer[3].strftime("%d/%m/%Y %H:%M:%S") }}
  <br>
  {{ answer[4] }}
</p>
{% if session.user_id == answer[1] or session.user_role == "admin" %}
<a href="/delete/{{ question[0] }}/{{ answer[0] }}" class="class2">Delete answer</a>
{% endif %}
<hr>
{% endfor %}
{% endif %}
{% endblock %}
